#
#Tue Apr 26 11:49:56 IST 2011
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=F\:/CoIDE/flash/LPC11xx_32.elf
org.coocox.codebugger.gdbjtag.core.resetMode=SYSRESETREQ
org.coocox.codebugger.gdbjtag.core.clockDiv=1M
org.coocox.codebugger.gdbjtag.core.adapter=ColinkEx
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
org.coocox.codebugger.gdbjtag.core.debugMode=SWD
